/BCarnellChars/bin/Debug/
/BCarnellChars/bin/Release/
/BCarnellEditor/bin/Debug/
/BCarnellEditor/bin/Release/
/BCarnellTimes/bin/Debug/
/BCarnellTimes/bin/Release/
/BCarnellEndless/bin/Debug/
/BCarnellEndless/bin/Release/
/BCarnellChars/obj/Debug/
/BCarnellChars/obj/Release/
/BCarnellEditor/obj/Debug/
/BCarnellEditor/obj/Release/
/BCarnellTimes/obj/Debug/
/BCarnellTimes/obj/Release/
/BCarnellEndless/obj/Debug/
/BCarnellEndless/obj/Release/
/BCarnellChars/alexbw145.baldiplus.bcarnellchars
/BCarnellEditor/mtm101.rulerp.baldiplus.leveleditor